<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.association :model %>
    <%= f.association :shop %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
